@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People and their Heroes!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the page!</h2>
        <p>
            This is a page I made to display
            people and their favorite heroes.
            From film, comics or even real life!
        </p>
    </div>
    <div class="col-md-4">
        <h2>You will see their names</h2>
        <p>and their favorite heroes.</p>
        <p>This was made using the Code First approach.</p>
    </div>
    <div class="col-md-4">
        <h2>Feel free to Click around!</h2>
        <p></p>
        <p></p>
    </div>
</div>