@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("TheirInsuranceQuote", "Home", FormMethod.Post, new { id = "signupform" }))
{
    <form submit="/insranceQuotePost" method="post">
        <div class="col-auto ">
            <br />
            <div class="form-group col-auto">
                <input class="form-control" name="firstName" type="text" placeholder="First Name" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="lastName" type="text" placeholder="Last Name" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="emailAddress" type="email" placeholder="Email" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="dateOfBirth" type="datetime" placeholder="DOB" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="carYear" type="number" placeholder="Year" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="carMake" type="text" placeholder="Make" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="carModel" type="text" placeholder="Model" />
            </div>
            <div class="form-group col-auto">
                <label for="cars">Dui?</label>
                <select name="dui" class=" form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="speedingTickets" type="number" placeholder="Number of Tickets" />
            </div>
            <div class="form-group col-auto">
                <input class="form-control" name="coverageType" type="text" placeholder="Full or Liability Coverage" />
            </div>
            <button type="submit" class="btn btn-default">Get Quote</button>
        </div>
    </form>

    <a href="../Admin/Index" class="btn btn-info" role="button">Admin</a>

}